@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

/*Container padding*/
.container {
    padding: 20px 100px;
}

/*Head*/
header {
    width: 100%;
    min-height: 100vh;
}

/*Navigation + Logo*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {

}
/*Nav-items*/
.navlist ul {
    display: flex;
    margin-left: 00px;
}

/*Nav-items list*/
.navlist ul li {
    list-style: none;
    margin-left: 50px;
}

/*Nav-items list anchor*/
.navlist ul li a {
    text-decoration: none;
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}


/*get-started button*/
.get-started {
    padding: 7px 28px;
    background: linear-gradient(267.98deg, #84CFBB 6.31%, #8CDEAE 99.03%);
    border-radius: 100px;
    list-style: none;
}

/*get-started anchor*/
.get-started li a {
    text-decoration: none;
    color: #444444;
    font-family: 'Lato', sans-serif;
}


/*Logo*/
.logo {
    width: 100px;
    height: 100px;
}

/*Logo img*/
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*main-header with image*/
.main-header {
    margin: 70px 0 150px 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}



/*main-header column 1*/
.send-errand {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-between;
}


/*main-header heading*/
.send-errand h2 {
    font-size: 3rem;
    padding: 0 30px 0 0;
    font-family: 'Lato', sans-serif;
}

/*ErrandHQ text-filled color*/
.a1 h2 span {
    background: -webkit-linear-gradient(#84CFBB 6.31%, #8CDEAE 99.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*main-header get-started button*/
.a1 button {
    margin-top: 62px;
    color: #444444;
    background: linear-gradient(#84CFBB 6.31%, #8CDEAE 99.03%);
    padding: 10px 40px;
    border-radius: 100px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    opacity: 1;
}

.a1 button:hover {
    opacity: 0.9;
}


/*ellipse behind send-errand*/
.ellipse1 {
    position: absolute;
    z-index: -10;
    right: 10px;
    top: 10px;
    width: 50%;
}


/*main-header column 2*/
.iphone-image {
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

/*iphone back view*/
.iphone-rear-view {
    position: absolute;
    left: 0;
    z-index: -10;
    width: 70%;
    height: auto;
}


/*iphone back view image*/
.iphone-rear-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*iphone shadow*/
.shadow {
    position: absolute;
    background-image: url('./Images/Shadow.png');
    height: 100px;
    width: 40vw;
    right: -17%;
    bottom: 10px;
    z-index: -20;
}


/*iphone front view*/
.iphone-right-view {
    position: absolute;
    left: 30px;
    top: -15px;
    width: 120%;
    height: fit-content;
}


/*iphone front view image*/
.iphone-right-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*ellipse behind iphone*/
.ellipse5 {
    position: absolute;
    width: 110%;
    left: 70px;
    z-index: -12;
}


/*Partner & Users*/
.partners-users {
    padding: 0 20px;
    position: relative;
    display: flex;
    gap: 25%;
    align-items: center;
}


/*partner & user display*/
.partners-users h1 {
    display: flex;
}

/*partner & user text*/
.partners-users h1 {
    font-size: 50px;
    line-height: 60px;
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}


/*partner & user span*/
.partners-users span {
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #C0C0C0;
    font-weight: 500;
}

/*ellipse behind 10+*/
.ellipse3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: -1;
}

/*ellipse image behind 10+*/
.ellipse3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*ellipse image behind 5K+*/
.ellipse4 {
    position: absolute;
    top: 0;
    left: 49%;
    width: 60px;
    height: 60px;
    z-index: -1;
}

/*ellipse image behind 5K+*/
.ellipse4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*dashed line*/
.dashed-line {
    width: 70%;
    margin: auto 0 50px auto;
    margin-inline-start: 0;
}

/*dashed line img*/
.dashed-line img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*section 1*/
.section-one {
    display: flex;
    gap: 4rem;
}

/*section-one display*/
.fast-service,
.safe-delivery,
.support {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*section-one main-image*/
.fast-service img,
.safe-delivery img,
.support img {
    width: 70px;
    margin-bottom: 20px;
}


/*section-one title*/
.section-one h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
    margin-bottom: 18px;
}

/*section-one paragraph*/
.section-one p {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
    color: #9A9A9A;
    position: relative;
    width: 90%;
}


/*Fast-Service spark logo*/
.section-one p .group-logo {
    position: absolute;
    width: 40px;
    height: 72.6px;
    top: 25%;
    right: 45%;
}

/*Safe Delivery fill logo*/
.section-one p .fill-logo {
    position: absolute;
    width: 50.8px;
    height: 72.6px;
    top: 25%;
    right: 40%;
} 

/*24/7 support path logo*/
.section-one p .path-logo {
    position: absolute;
    width: 52.48px;
    height: 62.08px;
    top: 25%;
    right: 40%;
}


/*dashed line2*/
.dashed-line2 {
    width: 70%;
    margin: 50px auto 50px auto;
    margin-inline-end: 0;
}

/*dashed line2 img*/
.dashed-line2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us {
    position: relative;
    margin-bottom: 70px;
}

.about {
    text-align: center;
}

.about h2 {
    font-size: 34px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #151515;
}

.about p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    color: #9A9A9A;
    opacity: 0.75;
    margin-bottom: 50px;
}

.ellipse-7 {
    position: absolute;
    top: -100px;
    right: 0;
    width: 250px;
}


.culture {
    text-align: center;
}

.culture h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
    margin-bottom: 50px;
}

.c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.culture-img {
    width: 30.19px;
    height: 30.19px;
    background: #0000;
    border-radius: 22px;
    margin: 0 auto 20px auto;
    position: relative;
}

.culture-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.culture-img::after {
    position: absolute;
    content: url('./Images/Rectangle\ 11.png');
    z-index: -1;
    left: -3px;
    top: -3px;
    transform: scale(1.25);
}

.c h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
}

.c p {
    font-size: 21px;
    line-height: 27px;
    color: #9A9A9A;
}


.how-it-work {
    position: relative;
    margin-bottom: 60px;
}

.how-it-work-ellipse {
    position: relative;
}

.how-it-work-ellipse7 {
    position: absolute;
    transform: rotate(180deg) scale(0.7);
    left: -50px;
    top: 70px;
}

.d {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.d1 h2 {
    font-size: 32px;
    line-height: 38px;
    color: #151515;
    margin-bottom: 30px;
}

.d1 p {
    font-size: 20px;
    line-height: 48px;
    color: #9A9A9A;
    opacity: 0.75;
}

.d2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    place-content: center;
    grid-gap: 1rem 0.4rem;
    margin-top: 20px;
}

.d21, 
.d22 {
    background: linear-gradient(359.03deg, #8ADBB3 11.33%, #00C3F3 99.34%);
    mix-blend-mode: normal;
    border-radius: 22px;
    padding: 50px 20px;
    width: 256px;
    height: 256px;
}

.d22 {
    align-items: flex-start;
}

.d2 h4 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
}

.d2 p {
    color: #fff;
    font-size: 14px;
    line-height: 19.6px;
    text-align: center;
}


.contact-us {
    margin: 70px 0;
    position: relative;
}

.contact-us-img {
    position: absolute;
    right: -32px;
    top: -150px;
    transform: scale(0.8);
}

.contact {
    text-align: center;
}

.contact h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact h6 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 10px;
}

.contact p {
    font-size: 18px;
    line-height: 30px;
    color: #9A9A9A;
    padding: 0 300px;
    margin-bottom: 50px;
}


.e {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.e .img {
    width: 60%;
    height: 579px;
    position: relative;
}

.e .img img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.rectangle {
    display: flex;
    align-items: center;
    position: absolute;
    left: 28%;
    top: 7%;
    width: 168px;
    height: 61.9px;
    padding: 20px 25px 20px 10px;
    background: #fff;
    border-radius: 17.85px;
    border: 1px solid transparent;
    box-shadow: 3px 3px 25px #8adbb381,
                -3px -3px 25px #00c2f377;
}

.offers h5 {
    font-size: 13px;
    line-height: 8.93px;
    color: #0068E2;
    margin-top: 5px;
}

.offers span {
    color: #D1D3D5;
    font-size: 9.52px;
    line-height: 8.93px;
}

#rect-img {
    width: 35.7px;
    height: 35.7px;
    margin-right: 10px;
}

.form {
    width: 40%;
    margin-top: 50px;
}

.fullname {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    width: 100%;
}

#firstname,
#lastname {
    width: 100%;
}

input,
textarea {
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #9A9A9A;
}

input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

textarea::placeholder {
    font-size: 13px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

input:focus,
textarea:focus {
    outline: 1px solid transparent;
}

#email,
#phone-num,
#subject,
#errand-details {
    width: 100%;
    margin-bottom: 20px;
}

.button button {
    background: #8ADBB3;
    border-radius: 10px;
    width: 100%;
    border: transparent;
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    opacity: 1;
}

.button button:hover {
    opacity: 0.9;
}



/*dashed line*/
.dashed-line {
    width: 70%;
    margin: 50px 0 0px auto;
    margin-inline-start: 0;
    position: relative;
}

/*dashed line img*/
.dashed-line .contact {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.dashed-line .rect {
    position: absolute;
    right: -15%;
    top: -100%;
    background: #fff;
    width: 304px;
    height: 78.17px;
    padding: 10px 20px;
    box-shadow: 10px 10px 80px rgba(217, 235, 255, 0.75);
    border-radius: 21.7143px;
}

.rect {
    display: flex;
    align-items: center;

}

.rect .image {
    width: 50px;
    height: 52px;
}

.rect .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.rect h4 {
    display: grid;
    margin: 0 25px 0 15px;
    font-size: 17px;
    color: #3D3D3D;
    line-height: 13px;
}

.rect h4 span {
    font-size: 13px;
    line-height: 13px;
    color: #D1D3D5;
    margin-top: 10px;
}


.rect h5 {
    font-size: 16px;
    color: #3E7EFF;
}


.testimonial {
    background: linear-gradient(180deg, rgba(0, 105, 226, 0.007) -0.74%, rgba(0, 222, 196, 0.104) 69.97% );
    padding-bottom: 400px;
}

.test {
    text-align: center;
    padding: 150px 0 50px 0;
}

.test h2 {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 25px;
}

.test p {
    font-size: 19px;
    line-height: 30px;
    color: #9A9A9A;
    padding: 0 400px;
    opacity: .8;
    margin-bottom: 30px;
}


.swiper {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-size: 24px;
    background-color: #fff;
    padding: 20px;
    color: #FF53B5;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 0px 32px rgba(13, 18, 65, 0.12);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.swiper-button-next {
    position: absolute;
    right: -1%;
    z-index: 100;
    
}

.swiper-button-prev {
    position: absolute;
    left: -1%;
    z-index: 100;
}




.card-content {
    position: relative;
    width: 100%;
    height: 400px;
    background: #fff;
    padding: 80px 30px 50px 30px;
    text-align: center;
    border-radius: 26px;
}


.card-content p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.user {
    display: flex;
    align-items: center;
    padding: 0 15px 0 20px;
}

.user img {
    border-radius: 100%;
    margin-right: 15px;
}

.user h5 {
    font-size: 15px;
    line-height: 16px;
    color: #151515;
    margin-bottom: 3px;
}

.user-details span {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    line-height: 15px;
    color: #151515;
    opacity: 0.75;
}


.pointer .prev, .pointer .next {
    position: absolute;
    cursor: pointer;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #FF53B5;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 32px rgba(13, 18, 65, 0.12);
    font-weight: bold;
    transition: 0.5s ease;
    user-select: none;
}

.prev {
    left: 6%;
}

.next {
    right: 6%;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.dot {
    text-align: center;
    margin-top: 20px;
}

.dots {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #0066FF;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0.75;
    box-shadow: inset 59.85px -59.85px 59.85px rgba(194, 194, 194, 0.1), inset -59.85px 59.85px 59.85px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(180px);
    border-radius: 2px;
}

.active, .dots:hover {
    background-color: #5C3F3F;
}



.get-in-touch {
    width: 1000px;
    margin: -14% auto 100px auto;
    background: #FFFFFF;
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
    border-radius: 10px; 
}


.touch h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}


.touch-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width: 100%;
    padding-bottom: 50px;
}

.message h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #020202;
    margin-bottom: 20px;
}

.fullName,
.e-mail,
.your-message {
    margin-bottom: 20px;
}

#fullName,
#e-mail,
#drop-message {
    width: 100%;
}

.send-btn {
    margin-top: 25px;
    width: 100%;
}

.send-btn button {
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    background: #8ADBB3;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    opacity: 1;
}

.send-btn button:hover {
    opacity: 0.85;
}

.contact-info {
    padding: 0 0 0 20px;
    margin-top: 40px;
}

.info ul li {
    list-style: none;
    text-align: start;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #0F001A;
    margin-bottom: 10px;
}


.address {
    position: relative;
    margin-left: 20px;
}

.address::before {
    position: absolute;
    content: url('./Images/location.png');
    width: 15px;
    height: 15px;
    left: -40px;
    top: 3px;
}

.call {
    position: relative;
    margin-left: 20px;
}

.call::before {
    position: absolute;
    content: url('./Images/Phone.png');
    width: 15px;
    height: 15px;
    left: -40px;
    top: 3px;
}

.mail-box {
    position: relative;
    margin-left: 20px;
    margin-top: 25px;
}

.mail-box::before {
    position: absolute;
    content: url('./Images/message.png');
    width: 15px;
    height: 15px;
    left: -40px;
    top: 3px;
}


ul .social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
    margin-top: 20px;
}

ul .social-media li a {
    width: 20px;
    height: 20px;
}


ul .social-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map {
    width: 110%;
    height: 190px;
    margin-left: -20px;
}

.map iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.main-footer {
    background: #000000;
    padding: 50px 0;
}


.foot {
    display: flex;
}

.foot-link {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
}

.foot-link h6 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
}

.foot-link ul li {
    list-style: none;
    margin-bottom: 10px;
}

.foot-link ul li a {
    text-decoration: none;
    color: rgba(204, 204, 204, 0.68);
}

.foot-link ul li a:hover {
    color: rgba(204, 204, 204);
}
